@model IEnumerable<Tarefa>

@{
    ViewData["Title"] = "Busca tarefa";
}

<h1>Busca Por @ViewBag.SearchField</h1>

<p>Resultados da busca:</p>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @{
                            // Verifica o status da tarefa e modifica a apresentação conforme necessário
                            var status = item.Status.ToString();
                            if (status == "EmAndamento")
                            {
                                status = "Em Andamento";
                            }
                            @status
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>@ViewBag.ErrorMessage</p>
}
